<div class="footer-container">
  <div class="left">
    <img class="team-logo" src="./assets/icons/fs-isep-logo.png" />
  </div>

  <div class="middle align-v">
    <a href="/" class="medium-text footer-item">Inicio</a>
    <a href="/about" class="medium-text footer-item">Sobre</a>
    <a href="/team" class="medium-text footer-item">Equipa</a>
    <a href="/car" class="medium-text footer-item">Carro</a>
    <a href="/sponsors" class="medium-text footer-item">Patrocinio</a>
    <a href="/contacts" class="medium-text footer-item">Contactos</a>
    
   
  </div>

  <div class="right">
    <div class="info-wrapper align-v">
      <a class="info-subwrapper align-v" href="https://www.instagram.com/fs_isep/">
        <img class="social-logo-img" src="./assets/icons/instagram-logo.png" />
        <div class="medium-text social-logo-text">@fs_isep</div>
      </a>

      <a class="info-subwrapper align-v" href="https://www.linkedin.com/company/formula-student-isep/">
        <img class="social-logo-img" src="./assets/icons/linkedin-logo.png" />
        <div class="medium-text social-logo-text">Formula Student ISEP</div>
      </a>
    </div>

     <!--<div class="footer-item">Linguagem</div>-->
    <!--<div class="footer-item">Powerd by</div>-->
  </div>
</div>