<div class="footer-container align-hv">
  <img class="team-logo" src="./assets/icons/fs-isep-logo.png" />

  <div class="middle align-v">
    <a href="/" class="footer-item footer-text">Início</a>
    <a href="/about" class="footer-item footer-text">Sobre</a>
    <a href="/team" class="footer-item footer-text">Equipa</a>
    <a href="/car" class="footer-item footer-text">Carro</a>
    <a href="/sponsors" class="footer-item footer-text">Patrocínio</a>
    <a href="/contacts" class="footer-item footer-text">Contactos</a>
  </div>

  <div class="right">
    <a class="socials-wrapper align-v" href="https://www.instagram.com/fs_isep/">
      <img class="social-logo-img" src="./assets/icons/instagram-logo.png" />
      <div class="social-logo-text footer-text">@fs_isep</div>
    </a>

    <a class="socials-wrapper align-v" href="https://www.linkedin.com/company/formula-student-isep/">
      <img class="social-logo-img" src="./assets/icons/linkedin-logo.png" />
      <div class="social-logo-text footer-text">Formula Student ISEP</div>
    </a>
  </div>
</div>