.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-item {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  padding-top: 30px;
  word-wrap: break-word;
  color: white;
  transition: font-size .3s ease-in-out;
}
 .footer-item:hover
 {
  font-size: 24px; 
  transition: font-size .3s ease-in-out;
 }


.team-logo {
  max-height: 300px;
  object-fit: fill;
}

.align-v {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  flex: 1; 
  padding-left: 10%;
  padding-top: 26px;
  align-items: flex-start;
}

.middle {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  flex: 1; 
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.social-logo-img {
  width: 30px;
  transition: width .2s ease-in-out;
  margin-right: 5px; 
  margin-top: 5px;

}

.social-logo:hover > .social-logo-img {
  width: 50px;
}

.info-wrapper {
  margin-left: 10%;
  height: 20%;
  display: inline-block;
}

.social-logo-text {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  color: white;
  margin-left: 5px;
  transition: font-size .3s ease-in-out;
}

.info-subwrapper {
  display: flex;
  flex-direction: row; /* Reverse the order of child elements */
  align-items: center;
}




.info-subwrapper:hover > .social-logo-img {
  width: 35px;
  transition: width .2s ease-in-out;
}

.info-subwrapper:hover > .social-logo-text {
  font-size: 24px; /* Increase the font size of the text on hover */
  transition: font-size .3s ease-in-out;
}




.medium-text{
  margin-left: 20px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
