.title-wrapper {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.402);
  background-image: url('/assets/banners/isep-image.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.title-text {
  color: white;
  font-weight: bold;
  font-family: "Chuterolk";
  overflow: hidden;
}

.title {
  font-size: 11vw;
}

.subtitle {
  font-size: 5vw;
}

.wrapper{
  margin-top: 50px;
  height: 50vh;
}

.half {
  width: calc(50% - 2.5px);
  height: inherit;
  float: left;
}

.mapouter {
  margin-top: 50px;
}
