.title {
  height: 100px;
  background-color: black;
  color: white;
}

.wrapper{
  margin-top: 50px;
  height: 50vh;
}

.half {
  width: calc(50% - 2.5px);
  height: inherit;
  float: left;
}

.separator {
  width: 5px;
  height: inherit;
  background-color: var(--isep-red);
  float: left;  
}

.mapouter {
  margin: 50px 0;
}
