.title {
  height: 100px;
  background-color: black;
  color: white;
}

.table-wrapper{
  margin-top: 50px;
}

.half {
  width: calc(50vw - 2.5px);
}

.redline {
  width: 5px;
  background-color: var(--isep-red);
}

.mapouter {
  margin: 50px 0;
}
