<div class="small-box align-hv">
    <div class="workers big-header">O que é o Formula Student?</div>
</div>
<div class="box align-h">
    <div class="wrapper">
        <div class="half align-h">
            <div class="text-wrapper align-hv full-width">
                <div class="align-hv info-box ">         
                        <div class="big-header">Objetivo</div>
                    <div class="separator align-hv"></div>   
                </div>           
                <div class="aboutus-text">
                    <div>A Equipa de Formula Student do Instituto Superior de Engenharia do Porto (ISEP) teve o seu início em 2020, impulsionada pela paixão pela engenharia automóvel e pelo desejo de representar o ISEP em competições de renome internacional. Embora ainda não tenha participado em competições, a equipa já demonstrou um notável compromisso com a excelência e a inovação, garantindo o seu lugar entre os participantes qualificados.
                        Desde a sua fundação, a equipa tem trabalhado incansavelmente no projeto e construção de um carro de corrida de alta performance, combinando conhecimentos teóricos com habilidades práticas. Esta abordagem multidisciplinar tem permitido aos membros da equipa adquirir uma valiosa experiência, enfrentando desafios técnicos e colaborando em projetos complexos.</div>                 
                </div>           
            </div>
        </div>
        <div class="half align-hv">
            <div class="text-wrapper align-hv full-width">
                <div class="info-box align-hv">         
                        <div class="big-header">Eventos</div>
                    <div class="separator align-hv"></div>   
                </div> 
                <div class="aboutus-text">
                    <div>A Equipa de Formula Student do Instituto Superior de Engenharia do Porto (ISEP) teve o seu início em 2020, impulsionada pela paixão pela engenharia automóvel e pelo desejo de representar o ISEP em competições de renome internacional. Embora ainda não tenha participado em competições, a equipa já demonstrou um notável compromisso com a excelência e a inovação, garantindo o seu lugar entre os participantes qualificados.
                        Desde a sua fundação, a equipa tem trabalhado incansavelmente no projeto e construção de um carro de corrida de alta performance, combinando conhecimentos teóricos com habilidades práticas. Esta abordagem multidisciplinar tem permitido aos membros da equipa adquirir uma valiosa experiência, enfrentando desafios técnicos e colaborando em projetos complexos.</div>                 
                </div>           
            </div>
        </div>
    </div>
</div>
<div class="big-box align-hv">
    <div class="workers big-header align-hv">Eventos Estáticos</div>
    <div class="department align-hv">
        <div class="separator align-hv"></div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
    </div>
    <div class="workers big-header align-hv">Eventos Dinâmicos</div>
    <div class="department align-hv">
        <div class="separator align-hv"></div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
    </div>
</div>