<div *ngIf="lang == 'pt'; then displayPtBtns; else displayEnBtns"></div>

<ng-template #displayPtBtns>
    <a *ngFor="let btn of navbarButtons" routerLink="{{ btn.route }}" class="nav-btn align-v"
        routerLinkActive="nav-btn-active">
        {{ btn.name_pt }}
    </a>
</ng-template>

<ng-template #displayEnBtns>
    <a *ngFor="let btn of navbarButtons" routerLink="{{ btn.route }}" class="nav-btn align-v"
        routerLinkActive="nav-btn-active">
        {{ btn.name_uk }}
    </a>
</ng-template>