<div class="form align-hv">
  <div class="field">
    <div class="field-label align-v">
      Nome
      <span class="required"><b>*</b></span>
    </div>
    <input type="text" name="Nome" class="field-input" required />
  </div>

  <div class="field">
    <div class="field-label align-v">
      Email
      <span class="required"><b>*</b></span>
    </div>
    <input type="text" name="Nome" class="field-input" required />
  </div>

  <div class="field">
    <div class="field-label align-v">
      Mensagem
      <span class="required"><b>*</b></span>
    </div>
    <textarea name="Mensagem" class="field-input" required></textarea>
  </div>

  <a class="button medium-text" (click)="onSubmit()">Enviar</a>
</div>
