<div>
    <div class="contacts align-hv"><a href="https://www.isep.ipp.pt" class="mailto"><img class="social-logo-img" src="./assets/icons/building.svg" />ISEP</a></div>
    <div class="contacts align-hv"><img class="social-logo-img" src="./assets/icons/map.svg" /> R. Dr. António Bernardino de Almeida 431, 4249-015 Porto</div>
    <div class="contacts align-hv"><a href="mailto:fsisep@gmail.com" class="mailto"><img class="social-logo-img" src="./assets/icons/envelope.svg" />fsisep@gmail.com</a></div>

    <div class="contacts align-hv"><a href="https://www.instagram.com/fs_isep/" class="mailto"><img class="social-logo-img" src="./assets/icons/instagram-logo.svg" />@fs_isep</a></div>
    <div class="contacts align-hv"><a href="https://www.linkedin.com/company/formula-student-isep/" class="mailto"><img class="social-logo-img" src="./assets/icons/linkedin-logo.svg" />Formula Student ISEP</a></div>
    <div class="contacts align-hv"><a href="https://www.youtube.com/@FSISEP" class="mailto"> <img class="social-logo-img" src="./assets/icons/youtube-logo.svg" />Ainda não temos canal</a></div>
</div>   
