<div class="info-wrapper align-v">
  <a class="info-subwrapper align-v" href="https://www.isep.ipp.pt">
    <img class="social-logo-img" src="./assets/icons/building.svg" />
    <div class="medium-text">ISEP</div>
  </a>
</div>

<div class="info-wrapper align-v">
  <div class="info-subwrapper align-v">
    <img class="social-logo-img" src="./assets/icons/map.svg" />
    <div class="medium-text">R. Dr. António Bernardino de Almeida 431</div>
  </div>
</div>

<div class="info-wrapper align-v">
  <a class="info-subwrapper align-v" href="mailto:{{ fs_email }}">
    <img class="social-logo-img" src="./assets/icons/envelope.svg" />
    <div class="medium-text">{{ fs_email }}</div>
  </a>
</div>

<div class="info-wrapper align-v">
  <a class="info-subwrapper align-v" href="{{ fs_instagram_info.url }}">
    <img class="social-logo-img" src="./assets/icons/instagram-logo.svg" />
    <div class="medium-text">{{ fs_instagram_info.handle }}</div>
  </a>
</div>

<div class="info-wrapper align-v">
  <a
    class="info-subwrapper align-v"
    href="https://www.linkedin.com/company/formula-student-isep/">
    <img class="social-logo-img" src="./assets/icons/linkedin-logo.svg" />
    <div class="medium-text">Formula Student ISEP</div>
  </a>
</div>
