.title-wrapper {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.402);
    background-image: url('/assets/banners/car-image.jpeg');
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.title-text {
    color: white;
    font-weight: bold;
    font-family: "Chuterolk";
    overflow: hidden;
}

.title {
    font-size: 11vw;
}

.subtitle {
    font-size: 5vw;
}

.small-box {
    height: 350px;
    background: black;
}

.small-box-text {
    width: 90%;
    color: white;
    font-size: max(2.5vw, 25px);
    text-align: justify;
}

.box {
    display: flex;
}

.white-box {
    background: white;
}

.black-box {
    background: black;
    color: white;
}

.half {
    width: 50%;
    flex-direction: column;
}

.container {
    width: 80%;
    height: 80%;
    overflow: hidden;
    border: 20px solid white;
    border-radius: 20px;
    background-color: white;
}

.wrapper-slider {
    width: 400%;
    display: flex;
    animation: slider 15s infinite ease-out;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-25%);
    }

    45% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    70% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-75%);
    }

    95% {
        transform: translateX(-75%);
    }
}

.info-title {
    margin-top: 5vw;
    font-size: 5vw;
}

.info-text {
    font-size: 3vw;
}
