<div class="title-wrapper align-hv">
    <p class="title title-text">FSISEP-01</p>
    <p class="subtitle title-text">O nosso primeiro carro</p>
</div>

<div class="small-box align-hv">
    <div class="small-box-text medium-header">
        Com o FSISEP-01 pretendemos levantar os pilares daquilo que poderá ser o futuro do Formula Student, enquanto
        projeto no ISEP. Trabalhamos todos os dias para encapsular engenharia inovadora e talento estudantil, desafiando
        os limites da performance e eficiência para alcançar o pódio da excelência técnica e da inovação automotiva.
    </div>
</div>

<div class="box white-box">
    <div class="half align-hv">
        <div class="container">
            <div class="wrapper-slider">
                <img src="./assets/car_images/front.png">
                <img src="./assets/car_images/side.png">
                <img src="./assets/car_images/back.png">
                <img src="./assets/car_images/top.png">
            </div>
        </div>
    </div>
    <div class="half align-v">
        <div class="info-title big-header">Powertrain</div>
        <div class="info-text medium-header">Specs da Powertrain</div>
    </div>
</div>
<div class="box black-box">
    <div class="half align-v">
        <div class="info-title big-header">Powertrain</div>
        <div class="info-text medium-header">Specs da Powertrain</div>
    </div>
    <div class="half align-hv">
        <div class="container">
            <div class="wrapper-slider">
                <img src="./assets/car_images/front.png">
                <img src="./assets/car_images/side.png">
                <img src="./assets/car_images/back.png">
                <img src="./assets/car_images/top.png">
            </div>
        </div>
    </div>
</div>
<div class="box white-box">
    <div class="half align-hv">
        <div class="container">
            <div class="wrapper-slider">
                <img src="./assets/car_images/front.png">
                <img src="./assets/car_images/side.png">
                <img src="./assets/car_images/back.png">
                <img src="./assets/car_images/top.png">
            </div>
        </div>
    </div>
    <div class="half align-v">
        <div class="info-title big-header">Powertrain</div>
        <div class="info-text medium-header">Specs da Powertrain</div>
    </div>
</div>
<div class="box black-box">
    <div class="half align-v">
        <div class="info-title big-header">Powertrain</div>
        <div class="info-text medium-header">Specs da Powertrain</div>
    </div>
    <div class="half align-hv">
        <div class="container">
            <div class="wrapper-slider">
                <img src="./assets/car_images/front.png">
                <img src="./assets/car_images/side.png">
                <img src="./assets/car_images/back.png">
                <img src="./assets/car_images/top.png">
            </div>
        </div>
    </div>
</div>