<div class="title">
    <div>
        <p class="title-text align-hv">FSISEP-01</p>
        <p class="title-sub-text align-hv">O nosso primeiro carro</p>
    </div>
</div>
<div class="small-box medium-header align-hv">
    <div class="borders">
        Com o FSISEP-01 pretendemos levantar os pilares daquilo que poderá ser o futuro do Formula Student, enquanto projeto no ISEP. Trabalhamos todos os dias para encapsular engenharia inovadora e talento estudantil, desafiando os limites da performance e eficiência para alcançar o pódio da excelência técnica e da inovação automotiva.
    </div>
</div>
<div class="box">
    <div class="wrapper">
        <div class="half align-hv">
            <div class="container">
                <div class="wrapper-slider">
                    <img src="./assets/car_images/front.png">
                    <img src="./assets/car_images/side.png">
                    <img src="./assets/car_images/back.png">
                    <img src="./assets/car_images/top.png">
                </div>  
            </div> 
        </div>
        <div class="half align-h">
            <div class="info-box">
                <div class="info-title big-header">Powertrain</div>
                <div class="info-text medium-header">
                    Specs da Powertrain
                </div>
            </div>     
        </div>
    </div>
</div>
<div class="b-box">
    <div class="wrapper">
        <div class="half-r align-hv">
            <div class="container">
                <div class="wrapper-slider">
                    <img src="./assets/car_images/front.png">
                    <img src="./assets/car_images/side.png">
                    <img src="./assets/car_images/back.png">
                    <img src="./assets/car_images/top.png">
                </div>  
            </div> 
        </div>
        <div class="half align-h">
            <div class="info-box">
                <div class="info-title big-header">Powertrain</div>
                <div class="info-text medium-header">
                    Specs da Powertrain
                </div>
            </div>     
        </div>
    </div>
</div>
<div class="box">
    <div class="wrapper">
        <div class="half align-hv">
            <div class="container">
                <div class="wrapper-slider">
                    <img src="./assets/car_images/front.png">
                    <img src="./assets/car_images/side.png">
                    <img src="./assets/car_images/back.png">
                    <img src="./assets/car_images/top.png">
                </div>  
            </div> 
        </div>
        <div class="half align-h">
            <div class="info-box">
                <div class="info-title big-header">Powertrain</div>
                <div class="info-text medium-header">
                    Specs da Powertrain
                </div>
            </div>     
        </div>
    </div>
</div>
<div class="b-box">
    <div class="wrapper">
        <div class="half-r align-hv">
            <div class="container">
                <div class="wrapper-slider">
                    <img src="./assets/car_images/front.png">
                    <img src="./assets/car_images/side.png">
                    <img src="./assets/car_images/back.png">
                    <img src="./assets/car_images/top.png">
                </div>  
            </div> 
        </div>
        <div class="half align-h">
            <div class="info-box">
                <div class="info-title big-header">Powertrain</div>
                <div class="info-text medium-header">
                    Specs da Powertrain
                </div>
            </div>     
        </div>
    </div>
</div>
















<!--
<div class="title big-header align-hv">Carro</div>

<div class="subtitle medium-header align-h">O carro</div>
    <div class="redline-wrapper align-h">
        <div class="redline"></div>
    </div>

    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h"> Decidimos envolver-nos neste projeto pelo gosto pela engenharia e pelos
            automóveis. As nossas escolhas para o design do carro e para o seu funcionamento são as que se mostraram
            para nós mais promissoras para o futuro da engenharia e deste ramo.
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h"> O nosso carro é elétrico, isto porque temos gosto em aprender sobre o que
            realmente são os mais recentes avanços nesta área e na engenharia que a envolve.
        </div>
    </div>

    <div class="competition-img">Imagens carro 1</div>




    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h"> Motores elétricos são mais eficientes e com um rácio de potência por peso
            muito maiores quando comparados ao modelo a
            combustão. Permitem uma resposta mais rápida quando solicitamos pelo condutor, e ainda são mais simples de
            implementar,
            pois não será necessário um depósito de combustível e são mais pequenos do que os motores de combustão
            interna.
        </div>
    </div>

    <div class="competition-img">Imagem carro 2</div>

    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h"> Foi decidido depois de analisarmos as provas a que o carro vai ser sujeito,
            que o melhor desempenho seria
            conseguido com tração atrás. isto permite um sistema elétrico simples e leve que nos irão garantir melhores
            resultados.
        </div>
    </div><br>
-->
