.topbar {
    height: 70px;
    background-color: #881a00;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.logo {
    margin-left: 50px;
}

.fs-isep-logo {
    width: 100px;
}

.nav-btns, .nav-btns-wrapper{
    height: 100%;
}

.flag{
    cursor: pointer;
    margin: 0 25px;
    padding: 5px 5px;
}

.flag-img{
    width: 20px;
}

.socials {
    display: flex;
    margin: 0 30px;
    justify-content: space-around;
}

.social-logo {
    margin: 0 5px;
}

.social-logo-img{
    width: 20px;
}