.topbar {
    height: 70px;
    background-color: #881a00;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.logo {
    width: 100px;
    margin-left: 50px;
}

.fs-isep-logo {
    width: 100px;
}

.nav-btns{
    display: flex;
    height: 100%;
}

.nav-btn {
    height: 100%;
    padding: 0 30px;
    font-family: "Chuterolk";
    font-size: 20px;
    box-shadow: inset 0 0 0 0 white;
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-btn:hover, .nav-btn-active {
    color: black;
    box-shadow: inset 200px 0 0 0 white;
}

.flag{
    height: 20px;
    margin: 0 30px;
}

.pt-flag{
    width: 20px;
}

.socials {
    margin: 0 30px;
}

.social-logo {
    width: 20px;
    height: 20px;
    margin: 5px 5px;
}

.social-logo-img{
    width: 20px;
}