.topbar {
    height: 70px;
    background-color: var(--isep-red);
    justify-content: space-between;
}

.logo {
    margin-left: 3%;
}

.fs-isep-logo {
    width: 100px;
}

.nav-btns {
    height: 100%;
    margin-right: 3%;
}

.nav-btns-wrapper {
    height: 100%;
}

.lang-flag-wrapper {
    width: 100px;
}

.socials-wrapper {
    display: flex;
    width: 70px;
    justify-content: space-between;
}

.sidebar-toggler {
    margin-right: 10px;
    cursor: pointer;
}

.closed_sidebar_icon {
    width: 40px;
}
