<div class="topbar align-v">
    <a routerLink="/" class="logo align-hv">Logótipo</a>

    <div class="nav-btns align-v">
        <a routerLink="/about" class="nav-btn">Sobre</a>
        <a routerLink="/team" class="nav-btn">Equipa</a>
        <a routerLink="/sponsors" class="nav-btn">Patrocinadores</a>
        <a routerLink="/contacts" class="nav-btn">Contactos</a>
        <a routerLink="/" class="nav-btn">PT</a>

        <div class="socials align-v align-sa">
            <a href="/" class="insta-logo align-hv">I</a>
            <a href="/" class="insta-logo align-hv">F</a>
            <a href="/" class="insta-logo align-hv">Li</a>
        </div>
    </div>
</div>