<div class="topbar align-v">

    <a routerLink="/" class="logo align-v">
        <img class="fs-isep-logo" src="./assets/icons/fs-isep-logo.png" />
    </a>

    <div class="nav-btns align-v">
        <app-nav-buttons class="nav-btns-wrapper align-v"></app-nav-buttons>

        <app-lang-flag class="lang-flag-wrapper align-h"></app-lang-flag>

        <div class="socials">

            <!-- TODO Add real URL -->
            <a href="/" class="social-logo align-v">
                <img class="social-logo-img" src="./assets/icons/instagram-logo.png" />
            </a>
            <a href="/" class="social-logo align-v">
                <img class="social-logo-img" src="./assets/icons/facebook-logo.png" />
            </a>
            <a href="/" class="social-logo align-v">
                <img class="social-logo-img" src="./assets/icons/youtube_logo.png" />
            </a>

        </div>
    </div>
</div>