<div class="logos">
    <div class="logos-slide">
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Bender.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Paróquia_Machico.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Caetano Sport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Isabellenhütte.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_headsmotorsport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Norelem.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_MathWorks.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Altium.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEE.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEM.png" />
    </div>
    <div class="logos-slide">
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Bender.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Paróquia_Machico.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Caetano Sport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Isabellenhütte.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_headsmotorsport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Norelem.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_MathWorks.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Altium.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEE.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEM.png" />
    </div>
  </div>