.title 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.402);
    width: 100%;
    height: 900px;
    background-image: url('/assets/banner_images/team-image.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode:darken;
}
  
.title-text 
{
    color: white;
    font-size:150px;
    font-weight: bold;
    font-family: "Chuterolk";
    filter: opacity(100%);
}

.title-sub-text 
{
    color: white;
    font-size:50px;
    font-weight: bold;
    font-family: "Chuterolk";
    filter: opacity(100%);
}













