<div class="title big-header align-hv">Quem Somos?</div>

<div class="content align-h">

    <div class="subtitle medium-header align-h">A nossa identidade e ambições para o futuro</div>
    <div class="redline-wrapper align-h">
        <div class="redline"></div>
    </div>

    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">A Formula Student ISEP é uma equipa constituída por futuros engenheiros de
            diferentes
            áreas que pretendem construir um formula single-seater para competir em eventos nacionais e internacionais
            Formula Student.
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">O nosso objetivo é aprender, inovar e pôr em prática os nossos conhecimentos
            obtidos
            em âmbito universitário, tendo também em conta as informações partilhadas por empresas relevantes ao
            projeto.
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">Para que o futuro a longo prazo da equipa seja promissor, estamos, também,
            empenhados em organizar a equipa de forma clara e estruturada.
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">Com o carro finalizado queremos competir com a ambição de vencer.
        </div>
    </div>

    <div class="subtitle medium-header align-h">A competição</div>
    <div class="redline-wrapper align-h">
        <div class="redline"></div>
    </div>

    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">A Formula Student é uma competição que envolve universidades de todo o mundo,
            organizada pelo Instituto da Engenharia mecânica, no Reino Unido e pela Sociedade de Engenheiros da
            Mobilidade.
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">Com o objetivo final de competir em eventos nacionais e internacionais, cada
            equipa, constituída apenas por
            estudantes, gere e planeia o projeto, incluindo o desenho e construção de um monolugar, do tipo formula 1 em
            escala
            reduzida.
        </div>
    </div>
    <!-- TODO: Fix the bullet points -->
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h"><br>A competição é separada em 3 categorias:
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">
            <ul>
                <li>Classe 2: Apresentação do projeto, incluindo o protótipo;</li>
                <li>Classe 1: Provas dinâmicas de um formula movido a combustão;</li>
                <li>Classe 1A: Provas dinâmicas de um formula movido a energias alternativas.</li>
            </ul>
        </div>
    </div>

    <div class="competition-img">Imagens competição</div>

    <div class="subtitle medium-header align-h">O carro</div>
    <div class="redline-wrapper align-h">
        <div class="redline"></div>
    </div>

    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h"> Decidimos envolver-nos neste projeto pelo gosto pela engenharia e pelos
            automóveis. As nossas escolhas para o design do carro e para o seu funcionamento são as que se mostraram
            para nós mais promissoras para o futuro da engenharia e deste ramo.
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h"> O nosso carro é elétrico, isto porque temos gosto em aprender sobre o que
            realmente são os mais recentes avanços nesta área e na engenharia que a envolve.
        </div>
    </div>

    <div class="competition-img">Imagens carro 1</div>

    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h"> Motores elétricos são mais eficientes e com um rácio de potência por peso
            muito maiores quando comparados ao modelo a
            combustão. Permitem uma resposta mais rápida quando solicitamos pelo condutor, e ainda são mais simples de
            implementar,
            pois não será necessário um depósito de combustível e são mais pequenos do que os motores de combustão
            interna.
        </div>
    </div>

    <div class="competition-img">Imagem carro 2</div>

    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h"> Foi decidido depois de analisarmos as provas a que o carro vai ser sujeito,
            que o melhor desempenho seria
            conseguido com tração atrás. isto permite um sistema elétrico simples e leve que nos irão garantir melhores
            resultados.
        </div>
    </div>

    <div class="end-buffer"></div>

</div>