<div class="title">
    <div>
        <p class="title-text align-hv">Sobre Nos</p>
        <p class="title-sub-text align-hv">Making an Idea Accelerate in Reality</p>
    </div>
</div>

<div class="box align-h">
    <div class="wrapper">
        <div class="half align-h">
            <div class="text-wrapper align-hv full-width">
                <div class="info-box align-hv">
                    <div class="button-border align-hv">
                        <button (click)="selectButton('Historia')" [style.background-color]="selectedButton === 'Historia' ? selectedColor : unselectedColor" class="button big-header">Historia</button>
                        <button (click)="selectButton('Missao')" [style.background-color]="selectedButton === 'Missao' ? selectedColor : unselectedColor" class="button big-header">Missão</button>
                    </div>  
                    <div class="separator align-hv"></div>   
                </div>
                
                <div class="aboutus-text">
                    <div *ngIf="selectedButton === 'Historia'">A Equipa de Formula Student do Instituto Superior de Engenharia do Porto (ISEP) teve o seu início em 2020, impulsionada pela paixão pela engenharia automóvel e pelo desejo de representar o ISEP em competições de renome internacional. Embora ainda não tenha participado em competições, a equipa já demonstrou um notável compromisso com a excelência e a inovação, garantindo o seu lugar entre os participantes qualificados.
                        Desde a sua fundação, a equipa tem trabalhado incansavelmente no projeto e construção de um carro de corrida de alta performance, combinando conhecimentos teóricos com habilidades práticas. Esta abordagem multidisciplinar tem permitido aos membros da equipa adquirir uma valiosa experiência, enfrentando desafios técnicos e colaborando em projetos complexos.</div>                 
                        <div *ngIf="selectedButton === 'Missao'">A missão primordial da Equipa de Formula Student do Instituto Superior de Engenharia do Porto (ISEP) é fomentar a excelência e a inovação no campo da engenharia através da sua participação em competições de Formula Student. Ao envolver os estudantes em projetos práticos e desafiantes, a equipa procura desenvolver as suas competências técnicas, criativas e de liderança, preparando-os para os desafios do mundo real da engenharia automóvel.
                            Além disso, a equipa aspira a representar não apenas o ISEP, mas também Portugal, nos eventos nacionais e internacionais, demonstrando o talento e a dedicação dos estudantes de engenharia do país. Através da sua participação em competições, a equipa pretende inspirar e motivar outros estudantes a perseguirem a excelência académica e a explorarem o vasto potencial da engenharia, contribuindo assim para o crescimento e prestígio do setor em Portugal.</div>  
                </div>           
            </div>
        </div>
        <div class="half align-hv">
            <img class="team-logo" src="./assets/icons/fs-isep-logo.png" />
        </div>
    </div>
</div>
<div class="big-box align-hv">
    <div class="workers big-header align-hv">A Equipa</div>
    <div class="department align-hv">
        <div class="big-header">Lideres</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Luis Pinheiro</div>
                <div class="function-name">Lider de Equipa</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Castro</div>
                <div class="function-name">Vice-lider de Equipa</div>
            </div>
        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Powertrain</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Sousa</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Mendes</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Tomás Silva</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Beatriz Teixeira</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Silva</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Francisca Guimarães</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Cerqueira</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Pedro Martins</div>
                <div class="function-name">Colega</div>
            </div>
            
        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Eletrónica</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Guilherme Castro</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Faria</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Martins</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Teixeira</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Pedro Moreira</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">André Filipe</div>
                <div class="function-name">Colegas</div>
            </div>
            
        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Chassis, Suspenção e Aerodinâmica</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Afonso Jesus</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Nuno Terra</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Vasco Amorim</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Jorge Castro</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Zé Augusto</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">António Sá</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Gonçalo Pinto</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Francisco Moreira</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João França</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">David Pinto</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Carlos</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">David Moreira</div>
                <div class="function-name">Colegas</div>
            </div>
        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Gestão de Operações</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Magalhães</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Afonso Correia</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Nuno Pinho</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Tomás Barros</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Simão Queiroga</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Guilherme Silveira</div>
                <div class="function-name">Colegas</div>
            </div>
        </div>
    </div>

</div>
<div class="small-box align-hv">
    <div class="workers big-header">O que é o Formula Student?</div>
</div>
<div class="box align-h">
    <div class="wrapper">
        <div class="half align-h">
            <div class="text-wrapper align-hv full-width">
                <div class="align-hv info-box ">         
                        <div class="big-header">Objetivo</div>
                    <div class="separator align-hv"></div>   
                </div>
                
                <div class="aboutus-text">
                    <div>A Equipa de Formula Student do Instituto Superior de Engenharia do Porto (ISEP) teve o seu início em 2020, impulsionada pela paixão pela engenharia automóvel e pelo desejo de representar o ISEP em competições de renome internacional. Embora ainda não tenha participado em competições, a equipa já demonstrou um notável compromisso com a excelência e a inovação, garantindo o seu lugar entre os participantes qualificados.
                        Desde a sua fundação, a equipa tem trabalhado incansavelmente no projeto e construção de um carro de corrida de alta performance, combinando conhecimentos teóricos com habilidades práticas. Esta abordagem multidisciplinar tem permitido aos membros da equipa adquirir uma valiosa experiência, enfrentando desafios técnicos e colaborando em projetos complexos.</div>                 
                </div>           
            </div>
        </div>
        <div class="half align-hv">
            <div class="text-wrapper align-hv full-width">
                <div class="info-box align-hv">         
                        <div class="big-header">Eventos</div>
                    <div class="separator align-hv"></div>   
                </div>
                
                <div class="aboutus-text">
                    <div>A Equipa de Formula Student do Instituto Superior de Engenharia do Porto (ISEP) teve o seu início em 2020, impulsionada pela paixão pela engenharia automóvel e pelo desejo de representar o ISEP em competições de renome internacional. Embora ainda não tenha participado em competições, a equipa já demonstrou um notável compromisso com a excelência e a inovação, garantindo o seu lugar entre os participantes qualificados.
                        Desde a sua fundação, a equipa tem trabalhado incansavelmente no projeto e construção de um carro de corrida de alta performance, combinando conhecimentos teóricos com habilidades práticas. Esta abordagem multidisciplinar tem permitido aos membros da equipa adquirir uma valiosa experiência, enfrentando desafios técnicos e colaborando em projetos complexos.</div>                 
                </div>           
            </div>
        </div>
    </div>
</div>
<div class="big-box align-hv">
    <div class="workers big-header align-hv">Eventos Estáticos</div>
    <div class="department align-hv">
        <div class="separator align-hv"></div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
    </div>
    <div class="workers big-header align-hv">Eventos Dinâmicos</div>
    <div class="department align-hv">
        <div class="separator align-hv"></div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title ">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
            <div class="event align-hv">
                <div class="event-img"><img src="./assets/car_images/front.png"></div>
                <div class="event-block">
                    <div class="big-header event-title">ENGINEERING DESIGN</div>
                    <div class="big-text event-body">
                        Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.</div>
                </div>    
            </div>
    </div>
</div>



<!-- <div class="title big-header align-hv">Quem Somos?</div>

<div class="content align-h">

    <div class="subtitle medium-header align-h">A nossa identidade e ambições para o futuro</div>
    <div class="redline-wrapper align-h">
        <div class="redline"></div>
    </div>

    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">A Formula Student ISEP é uma equipa constituída por futuros engenheiros de
            diferentes
            áreas que pretendem construir um formula single-seater para competir em eventos nacionais e internacionais
            Formula Student.
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">O nosso objetivo é aprender, inovar e pôr em prática os nossos conhecimentos
            obtidos
            em âmbito universitário, tendo também em conta as informações partilhadas por empresas relevantes ao
            projeto.
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">Para que o futuro a longo prazo da equipa seja promissor, estamos, também,
            empenhados em organizar a equipa de forma clara e estruturada.
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">Com o carro finalizado queremos competir com a ambição de vencer.
        </div>
    </div>

    <div class="subtitle medium-header align-h">A competição</div>
    <div class="redline-wrapper align-h">
        <div class="redline"></div>
    </div>

    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">A Formula Student é uma competição que envolve universidades de todo o mundo,
            organizada pelo Instituto da Engenharia mecânica, no Reino Unido e pela Sociedade de Engenheiros da
            Mobilidade.
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">Com o objetivo final de competir em eventos nacionais e internacionais, cada
            equipa, constituída apenas por
            estudantes, gere e planeia o projeto, incluindo o desenho e construção de um monolugar, do tipo formula 1 em
            escala
            reduzida.
        </div>
    </div>
   TODO: Fix the bullet points
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h"><br>A competição é separada em 3 categorias:
        </div>
    </div>
    <div class="text-wrapper align-h">
        <div class="aboutus-text align-h">
            <ul>
                <li>Classe 2: Apresentação do projeto, incluindo o protótipo;</li>
                <li>Classe 1: Provas dinâmicas de um formula movido a combustão;</li>
                <li>Classe 1A: Provas dinâmicas de um formula movido a energias alternativas.</li>
            </ul>
        </div>
    </div>

    <div class="competition-img">Imagens competição</div>
    <div class="end-buffer"></div>

</div>
 -->