<div class="title-wrapper align-hv">
    <p class="title title-text">Sobre Nós</p>
    <p class="subtitle title-text">Making an Idea Accelerate in Reality</p>
</div>

<div class="box align-v">
    <div class="button-wrapper align-h">
        <a class="button align-hv" (click)="selectButton(IntroText.HISTORIA)"
            [style.background-color]="selectedButton === IntroText.HISTORIA ? 'white' : 'transparent'">
            <div class="button-text">História</div>
        </a>
        <a class="button align-hv" (click)="selectButton(IntroText.MISSAO)"
            [style.background-color]="selectedButton === IntroText.MISSAO ? 'white' : 'transparent'">
            <div class="button-text">Missão</div>
        </a>
    </div>
    <div class="separator"></div>
    <div *ngIf="selectedButton === IntroText.HISTORIA" class="aboutus-text">
        A Equipa de Formula Student do Instituto Superior de
        Engenharia do Porto (ISEP) teve o seu início em 2020, impulsionada pela paixão pela engenharia
        automóvel e pelo desejo de representar o ISEP em competições de renome internacional. Embora
        ainda não tenha participado em competições, a equipa já demonstrou um notável compromisso com a
        excelência e a inovação, garantindo o seu lugar entre os participantes qualificados.
        Desde a sua fundação, a equipa tem trabalhado incansavelmente no projeto e construção de um
        carro de corrida de alta performance, combinando conhecimentos teóricos com habilidades
        práticas. Esta abordagem multidisciplinar tem permitido aos membros da equipa adquirir uma
        valiosa experiência, enfrentando desafios técnicos e colaborando em projetos complexos.
    </div>
    <div *ngIf="selectedButton === IntroText.MISSAO" class="aboutus-text">
        A missão primordial da Equipa de Formula Student do
        Instituto Superior de Engenharia do Porto (ISEP) é fomentar a excelência e a inovação no campo
        da engenharia através da sua participação em competições de Formula Student. Ao envolver os
        estudantes em projetos práticos e desafiantes, a equipa procura desenvolver as suas competências
        técnicas, criativas e de liderança, preparando-os para os desafios do mundo real da engenharia
        automóvel.
        Além disso, a equipa aspira a representar não apenas o ISEP, mas também Portugal, nos eventos
        nacionais e internacionais, demonstrando o talento e a dedicação dos estudantes de engenharia do
        país. Através da sua participação em competições, a equipa pretende inspirar e motivar outros
        estudantes a perseguirem a excelência académica e a explorarem o vasto potencial da engenharia,
        contribuindo assim para o crescimento e prestígio do setor em Portugal.
    </div>
</div>

<div class="big-box align-hv">
    <div class="big-box-title">A Equipa</div>
    <div class="department align-hv">
        <div class="big-header">Líderes</div>
        <div class="separator"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Luís Pinheiro</div>
                <div class="function-name">Líder de Equipa</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Castro</div>
                <div class="function-name">Vice-líder de Equipa</div>
            </div>
        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Powertrain</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Sousa</div>
                <div class="function-name">Sub-Líder</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Mendes</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Tomás Silva</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Beatriz Teixeira</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Silva</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Francisca Guimarães</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Cerqueira</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Pedro Martins</div>
                <div class="function-name">Colega</div>
            </div>

        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Eletrónica</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Guilherme Castro</div>
                <div class="function-name">Sub-Líder</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Faria</div>
                <div class="function-name">Sub-Líder</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Martins</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Teixeira</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Pedro Moreira</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">André Filipe</div>
                <div class="function-name">Colega</div>
            </div>

        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Chassis, Suspenção e Aerodinâmica</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Afonso Jesus</div>
                <div class="function-name">Sub-Líder</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Nuno Terra</div>
                <div class="function-name">Sub-Líder</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Vasco Amorim</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Jorge Castro</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Zé Augusto</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">António Sá</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Gonçalo Pinto</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Francisco Moreira</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João França</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">David Pinto</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Carlos</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">David Moreira</div>
                <div class="function-name">Colega</div>
            </div>
        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Gestão de Operações</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Magalhães</div>
                <div class="function-name">Sub-Líder</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Afonso Correia</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Nuno Pinho</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Tomás Barros</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Simão Queiroga</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Guilherme Silveira</div>
                <div class="function-name">Colega</div>
            </div>
        </div>
    </div>
</div>

<div class="small-box align-hv">
    <div class="big-box-title">O que é o Formula Student?</div>
</div>

<div class="last-box align-h">
    <div class="half align-v">
        <div class="last-box-title big-header">Objetivo</div>
        <div class="separator"></div>
        <div class="aboutus-text">
            A Equipa de Formula Student do Instituto Superior de Engenharia do Porto (ISEP) teve o seu
            início em 2020, impulsionada pela paixão pela engenharia automóvel e pelo desejo de representar
            o ISEP em competições de renome internacional. Embora ainda não tenha participado em
            competições, a equipa já demonstrou um notável compromisso com a excelência e a inovação,
            garantindo o seu lugar entre os participantes qualificados.
            Desde a sua fundação, a equipa tem trabalhado incansavelmente no projeto e construção de um
            carro de corrida de alta performance, combinando conhecimentos teóricos com habilidades
            práticas. Esta abordagem multidisciplinar tem permitido aos membros da equipa adquirir uma
            valiosa experiência, enfrentando desafios técnicos e colaborando em projetos complexos.
        </div>
    </div>
    <div class="half align-v">
        <div class="last-box-title big-header">Eventos</div>
        <div class="separator"></div>
        <div class="aboutus-text">
            A Equipa de Formula Student do Instituto Superior de Engenharia do Porto (ISEP) teve o seu
            início em 2020, impulsionada pela paixão pela engenharia automóvel e pelo desejo de representar
            o ISEP em competições de renome internacional. Embora ainda não tenha participado em
            competições, a equipa já demonstrou um notável compromisso com a excelência e a inovação,
            garantindo o seu lugar entre os participantes qualificados.
            Desde a sua fundação, a equipa tem trabalhado incansavelmente no projeto e construção de um
            carro de corrida de alta performance, combinando conhecimentos teóricos com habilidades
            práticas. Esta abordagem multidisciplinar tem permitido aos membros da equipa adquirir uma
            valiosa experiência, enfrentando desafios técnicos e colaborando em projetos complexos.
        </div>
    </div>
</div>

<div class="big-box align-hv">
    <div class="big-box-title">Eventos Estáticos</div>
    <div class="separator align-hv"></div>
    <div class="department align-v">
        <div class="event align-hv">
            <img class="event-img" src="./assets/car_images/front.png" />
            <div class="event-block">
                <div class="big-header event-title ">ENGINEERING DESIGN</div>
                <div class="big-text event-body">
                    Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um
                    painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada
                    vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos
                    conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.
                </div>
            </div>
        </div>
        <div class="event align-hv">
            <img class="event-img" src="./assets/car_images/front.png" />
            <div class="event-block">
                <div class="big-header event-title ">ENGINEERING DESIGN</div>
                <div class="big-text event-body">
                    Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um
                    painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada
                    vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos
                    conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.
                </div>
            </div>
        </div>
        <div class="event align-hv">
            <img class="event-img" src="./assets/car_images/front.png" />
            <div class="event-block">
                <div class="big-header event-title ">ENGINEERING DESIGN</div>
                <div class="big-text event-body">
                    Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um
                    painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada
                    vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos
                    conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.
                </div>
            </div>
        </div>
    </div>
    <div class="big-box-title">Eventos Dinâmicos</div>
    <div class="department align-hv">
        <div class="separator"></div>
        <div class="event align-hv">
            <img class="event-img" src="./assets/car_images/front.png" />
            <div class="event-block">
                <div class="big-header event-title ">ENGINEERING DESIGN</div>
                <div class="big-text event-body">
                    Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um
                    painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada
                    vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos
                    conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.
                </div>
            </div>
        </div>
        <div class="event align-hv">
            <img class="event-img" src="./assets/car_images/front.png" />
            <div class="event-block">
                <div class="big-header event-title ">ENGINEERING DESIGN</div>
                <div class="big-text event-body">
                    Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um
                    painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada
                    vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos
                    conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.
                </div>
            </div>
        </div>
        <div class="event align-hv">
            <img class="event-img" src="./assets/car_images/front.png" />
            <div class="event-block">
                <div class="big-header event-title ">ENGINEERING DESIGN</div>
                <div class="big-text event-body">
                    Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um
                    painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada
                    vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos
                    conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.
                </div>
            </div>
        </div>
        <div class="event align-hv">
            <img class="event-img" src="./assets/car_images/front.png" />
            <div class="event-block">
                <div class="big-header event-title">ENGINEERING DESIGN</div>
                <div class="big-text event-body">
                    Os estudantes devem apresentar os seus conhecimentos sobre o carro e conceitos de engenharia a um
                    painel de juízes. Na maioria dos eventos há múltiplas rondas de design, cada uma com perguntas cada
                    vez mais difíceis e sessões mais longas. A primeira ronda envolve todas as equipas, e centra-se nos
                    conhecimentos fundamentais. Apenas as melhores equipas chegam às finais.
                </div>
            </div>
        </div>
    </div>
</div>
