<div class="title big-header align-hv">A Equipa</div>

<div class="subtitle medium-header align-h">Estrutura da Equipa</div>
<div class="redline-wrapper align-h">
    <div class="redline"></div>
</div>

<div class="text-wrapper align-h">
    <div class="team-text align-h">
        A equipa esta dividida em dois departamentos:
        • O departamento de gestão de operações é responsável por garantir recursos materiais e financeiros, através de
        patrocínios e parcerias com empresas externas e parcerias institucionais, gerir redes sociais, site e outras
        formas de exposição do projeto e da equipa, fazer a gestão logística de viagens, materiais, recursos humanos e
        financeira. Este grupo também será a ponte entre a equipa e as empresas.
        • O departamento técnico será responsável pela conceção e desenho do protótipo e, posteriormente, a construção
        do mesmo. Este grupo é dividido em três secções. A secção “Body” tratará do chassi, aerodinâmica e suspensão. A
        secção “Powertrain” está encarregue da escolha de motores, e componentes relacionados com o movimento do carro.
        A secção “Eletrónica” está incumbida com a escolha de componentes relacionados com a parte elétrica do carro. Em
        ambiente de teste e competitivo, este departamento fará a manutenção do carro e mudanças necessárias nos
        componentes de forma a tornar o carro mais rápido e seguro para conduzir.
    </div>
</div>

<div class="competition-img">Organograma</div>

<div class="text-wrapper align-h">
    <div class="team-text align-h">
        Em relação a forma como a equipa se reúne e se organiza, todas as semanas temos reuniões de líder e sub lideres,
        onde se reflete o trabalho feito na semana anterior e, depois, é planeado tarefas que serão feitas na semana
        posterior. Dentro de cada departamento existem reuniões também semanais onde as tarefas são distribuídas. Para
        além disso, através de canais de comunicação (Discord, Whatsapp), existe diálogo com trocas de ideias e de
        informação.
    </div>
</div>

<div class="end-buffer"></div>