<div class="title " style="width: 100%; height: 678px; background-image: url('./assets/team_images/foto_teste.png.jpg'); background-size: cover; background-position: center; filter: brightness(50%);">

</div>
<div class="content align-h">
    <div style="padding-top: 150px;"></div>
    <div class="" style="width: 100%; height: 731px; background: #A0A0A0">
        <div class="wrapper">
            <div class="half align-hv">
                <div class="text-wrapper" >
                    <div class="aboutus-text align-h">
                        Bem-vindo ao mundo da inovação sobre rodas com a equipa do Formula Student ISEP! Somos um grupo dedicado de estudantes apaixonados pela engenharia e pelo automobilismo, unidos sob a bandeira da excelência e da busca incessante pela perfeição. No âmago da nossa missão está o desafio global do Formula Student, onde competimos com universidades de todo o mundo para projetar, construir e correr carros de alta performance. No centro de cada decisão, cada soldadura e cada linha de código está o nosso compromisso com a inovação, a aprendizagem prática e o trabalho em equipa. 
                    </div>
                    <div class="" style="padding-top: 50px;">
                        <a href="/about" class="button small-text transition">Saber Mais</a>
                    </div>
                </div>
            </div>



            <div class="half align-hv">
                <div class="Frame11" style="padding-top: 140px; padding-bottom: 103px; align-items: center;">
                    <img class="team-logo"src="./assets/icons/fs-isep-logo.png" />
                </div>
            </div> 

            
        </div>
   
    </div>
</div>
<div >
    <div class="sponsors-container">
        <img class="sponsor-logo" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="sponsor-logo" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="sponsor-logo" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="sponsor-logo" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="sponsor-logo" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="sponsor-logo" src="./assets/sponsors_logos/Logo_Addvolt.png" />

        <!-- Add more sponsor logos as needed -->
      </div>
</div>






<!-- <div class="Inicio" style="width: 100%; height: 100vh; position:relative; background: white">


        <div class="Frame11" style="padding-top: 140px; padding-bottom: 103px; padding-left: 6.25%; padding-right: 8.85%; left: 57.64%; top: 151px; background: white; justify-content: flex-end; align-items: center; display: inline-flex">
            <div class="Logo" style="width: 21.4%; height: 135px; color: black; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Logo</div>
        </div>
        <div class="HistRiaDaEquipaResumidaEmBaixoUmBotOParaIrParaAPGinaDeSobre" style="width: 35.2%; left: 11.8%; top: 198px;  color: black; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">História da equipa (resumida).   Em baixo um botão para ir para a página de sobre</div>
    </div>











<div class="Frame12" style="width: 100%; height: 313px; left: 0px; top: 1839px;  background: #A0A0A0">
        <div class="PatrocinadoresQueFicaSempreAMudar" style="width: 34.9%; height: 99px; left: 1.18%; top: 15px;  color: black; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Patrocinadores<br/> que fica sempre a mudar</div>
        <div class="LogoPatrocinio" style="width: 20.6%; height: 82px; right: 5.14%; top: 63px; position: absolute; color: black; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Logo Patrocinio</div>
        <div class="NomePatrocinio" style="width: 20.6%; height: 56px; right: 5.14%; top: 204px; position: absolute; color: black; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nome PAtrocinio</div>
    </div>
    <div class="Frame13" style="width: 100%; height: 614px; left: 0px; top: 2277px; position: absolute; background: #5E5E5E">
        <div class="FotoDoCarro" style="width: 33.3%; height: 339px; left: 9.03%; top: 103px; position: absolute; color: white; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Foto do carro</div>
        <div class="TextoBreveQueFaleDoCarroEAbaixoUmBotOQueLevaPGinaCarro" style="width: 46.9%; height: 119px; left: 65.38%; top: 154px; position: absolute; color: white; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Texto breve que fale do carro e abaixo um botão que leva á página “carro”</div>
    </div>

   

    <div class="Frame10" style="width: 100%; height: 731px; left: 0px; top: 950px; position: absolute; background: #A0A0A0">
        <div class="Frame11" style="padding-top: 140px; padding-bottom: 103px; padding-left: 6.25%; padding-right: 8.85%; left: 57.64%; top: 151px; position: absolute; background: white; justify-content: flex-end; align-items: center; display: inline-flex">
            <div class="Logo" style="width: 21.4%; height: 135px; color: black; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Logo</div>
        </div>
        <div class="HistRiaDaEquipaResumidaEmBaixoUmBotOParaIrParaAPGinaDeSobre" style="width: 35.2%; left: 11.8%; top: 198px; position: absolute; color: black; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">História da equipa (resumida).      Em baixo um botão para ir para a página de sobre</div>
    </div>
    <div class="Frame12" style="width: 100%; height: 313px; left: 0px; top: 1839px; position: absolute; background: #A0A0A0">
        <div class="PatrocinadoresQueFicaSempreAMudar" style="width: 34.9%; height: 99px; left: 1.18%; top: 15px; position: absolute; color: black; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Patrocinadores<br/> que fica sempre a mudar</div>
        <div class="LogoPatrocinio" style="width: 20.6%; height: 82px; right: 5.14%; top: 63px; position: absolute; color: black; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Logo Patrocinio</div>
        <div class="NomePatrocinio" style="width: 20.6%; height: 56px; right: 5.14%; top: 204px; position: absolute; color: black; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nome PAtrocinio</div>
      </div>
      <div class="Frame13" style="width: 100%; height: 614px; left: 0px; top: 2277px; position: absolute; background: #5E5E5E">
        <div class="FotoDoCarro" style="width: 33.3%; height: 339px; left: 9.03%; top: 103px; position: absolute; color: white; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Foto do carro</div>
        <div class="TextoBreveQueFaleDoCarroEAbaixoUmBotOQueLevaPGinaCarro" style="width: 46.9%; height: 119px; left: 65.38%; top: 154px; position: absolute; color: white; font-size: 39px; font-family: Inter; font-weight: 400; word-wrap: break-word">Texto breve que fale do carro e abaixo um botão que leva á página “carro”</div>
      </div>
</div>
  





FOOTER




     <div style="width: 1440px; height: 260px; left: 0px; top: 3088px; position: absolute; background: black">
      <div style="width: 280px; height: 139px; left: 132px; top: 26px; position: absolute">
        <div style="width: 280px; height: 139px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 168px; height: 52.82px; left: 56px; top: 43.09px; position: absolute; text-align: center; color: black; font-size: 64px; font-family: Inter; font-weight: 400; word-wrap: break-word">Logo</div>
      </div>
      <div style="width: 180px; height: 51px; left: 730px; top: 34px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Inicio</div>
      <div style="width: 180px; height: 51px; left: 730px; top: 185px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contactos</div>
      <div style="width: 180px; height: 51px; left: 730px; top: 70px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sobre</div>
      <div style="width: 180px; height: 51px; left: 730px; top: 108px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Carro</div>
      <div style="width: 180px; height: 51px; left: 730px; top: 146px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Patrocinadores</div>
      <div style="width: 412px; height: 34px; left: 132px; top: 226px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Direitos de autor e politicas de privacidade</div>
      <div style="width: 207px; height: 35px; left: 1105px; top: 34px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Redes Sociais<br/>(Verticalmente)</div>
      <div style="width: 207px; height: 35px; left: 1105px; top: 143px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Linguagem</div>
      <div style="width: 207px; height: 35px; left: 1105px; top: 225px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Powerd by</div>
    </div>
  -->