<div class="title">

</div>

<div class="box align-h">
    <div class="wrapper">
        <div class="half align-hv">
            <div class="text-wrapper" >
                <div class="aboutus-text align-h">
                    Bem-vindo ao mundo da inovação sobre rodas com a equipa do Formula Student ISEP! Somos um grupo dedicado de estudantes apaixonados pela engenharia e pelo automobilismo, unidos sob a bandeira da excelência e da busca incessante pela perfeição. No âmago da nossa missão está o desafio global do Formula Student, onde competimos com universidades de todo o mundo para projetar, construir e correr carros de alta performance. No centro de cada decisão, cada soldadura e cada linha de código está o nosso compromisso com a inovação, a aprendizagem prática e o trabalho em equipa. 
                </div>
                <div class="button-border">
                    <a href="/about" class="button medium-text">Saber Mais</a>
                </div>
            </div>
        </div>
        <div class="half align-hv">             
            <img class="team-logo" src="./assets/icons/fs-isep-logo.png" />
        </div>             
    </div>
</div>

<div class="logos">
    <div class="logos-slide">
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Bender.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Paróquia_Machico.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Caetano Sport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Isabellenhütte.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_headsmotorsport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Norelem.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_MathWorks.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Altium.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEE.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEM.png" />
    </div>
    <div class="logos-slide">
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Bender.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Paróquia_Machico.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Caetano Sport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Isabellenhütte.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_headsmotorsport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Norelem.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_MathWorks.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Altium.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEE.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEM.png" />
    </div>
  </div>



<div class="box"> <!-- style="box-shadow: 0px -10px 25px 25px black;"-->
    <div class="wrapper">
        <div class="half align-hv">  
            <div class="container">
                <div class="wrapper-slider">
                    <img src="./assets/car_images/front.png">
                    <img src="./assets/car_images/side.png">
                    <img src="./assets/car_images/back.png">
                    <img src="./assets/car_images/top.png">
                </div>  
            </div>   
        </div> 
        <div class="half align-hv">
            <div class="text-wrapper">
                <div class="aboutus-text left-text" >
                    Bem-vindo ao mundo da inovação sobre rodas com a equipa do Formula Student ISEP! Somos um grupo dedicado de estudantes apaixonados pela engenharia e pelo automobilismo, unidos sob a bandeira da excelência e da busca incessante pela perfeição. No âmago da nossa missão está o desafio global do Formula Student, onde competimos com universidades de todo o mundo para projetar, construir e correr carros de alta performance. No centro de cada decisão, cada soldadura e cada linha de código está o nosso compromisso com a inovação, a aprendizagem prática e o trabalho em equipa. 
                </div>
                <div class="button-border left-text">
                    <a href="/car" class="button medium-text">Mais Sobre o Carro</a>
                </div>
            </div>
        </div>       
    </div>
</div>




