<div class="car-image"></div>

<div class="box align-v">
    <div class="half align-hv">
        <img class="team-logo" src="./assets/icons/fs-isep-logo.png" />
    </div>
    <div class="half align-hv">
        <div class="aboutus-text" #aboutusText>
            {{ textContent }}
        </div>
        <a href="/about" class="button medium-text">Saber Mais</a>
    </div>
</div>

<div class="logos">
    <div class="logos-slide">
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Bender.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Paróquia_Machico.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Caetano Sport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Isabellenhütte.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_headsmotorsport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Norelem.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_MathWorks.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Altium.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEE.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEM.png" />
    </div>
    <div class="logos-slide">
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Addvolt.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Bender.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Paróquia_Machico.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Caetano Sport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Isabellenhütte.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_headsmotorsport.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Norelem.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_MathWorks.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_Altium.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEE.png" />
        <img class="logos-slide-img" src="./assets/sponsors_logos/Logo_DEM.png" />
    </div>
</div>

<div class="box align-v">
    <div class="half align-hv">
        <div class="aboutus-text" #carText>
            {{ textContent }}
        </div>
        <a href="/car" class="button medium-text">Mais Sobre o Carro</a>
    </div>
    <div class="half align-hv">
        <div class="container">
            <div class="wrapper-slider">
                <img src="./assets/car_images/front.png">
                <img src="./assets/car_images/side.png">
                <img src="./assets/car_images/back.png">
                <img src="./assets/car_images/top.png">
            </div>
        </div>
    </div>
</div>