.title {
    height: 100px;
    background-color: black;
    color: white;
}

.content {
    flex-direction: column;
}

.subtitle {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.silverline {
    height: 10px;
    background-color: silver;
    width: 60%;
}

.bronzeline {
    height: 8px;
    background-color: #f87f07;
    width: 60%;
}

.partnerline {
    height: 5px;
    background-color: green;
    width: 60%;
}

.softwareline {
    height: 5px;
    background-color: skyblue;
    width: 60%;
}

.instline {
    height: 5px;
    background-color: var(--isep-red);
    width: 60%;
}

.aboutus-text {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin-top: 10px;
    text-align: justify;
}

.end-buffer {
    height: 10px;
}

.image-container {
    flex-wrap: wrap;
}

.sponsor-view-silver {
    width: 430px;
    max-height: 250px;
    object-fit: cover;
    margin: 50px 50px;
}

.sponsor-view-bronze {
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
    margin: 50px 50px;
}

.sponsor-view-partner {
    max-width: 200px;
    max-height: 100px;
    object-fit: cover;
    margin: 50px 50px;
}

.sponsor-view-software {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    margin: 50px 50px;
}

.sponsor-view-inst {
    max-width: 350px;
    max-height: 250px;
    object-fit: cover;
    margin: 50px 50px;
}