<div class="title big-header align-hv">Patrocinadores</div>

<div class="content align-h">

    <div class="subtitle medium-header align-h">Prata</div>
    <div class="redline-wrapper align-h">
        <div class="silverline"></div>
    </div>
    <div class="image-container align-hv">
        <a href="https://addvolt.com/"><img class="sponsor-view-silver"
                src="./assets/sponsors_logos/Logo_Addvolt.png" /></a>
        <a href="https://bender.de/en/"><img class="sponsor-view-silver"
                src="./assets/sponsors_logos/Logo_Bender.png" /></a>
    </div>

    <div class="subtitle medium-header align-hv">Bronze</div>
    <div class="redline-wrapper align-h">
        <div class="bronzeline"></div>
    </div>
    <div class="image-container align-hv">
        <a href="https://www.facebook.com/machicoparoquia/?locale=pt_PT"><img class="sponsor-view-bronze"
                src="./assets/sponsors_logos/Logo_Paróquia_Machico.png" /></a>
    </div>

    <div class="subtitle medium-header align-h">Parceiros</div>
    <div class="redline-wrapper align-h">
        <div class="partnerline"></div>
    </div>
    <div class="image-container align-hv">
        <a href="https://www.caetanosport.pt/"><img class="sponsor-view-partner"
                src="./assets/sponsors_logos/Logo_Caetano Sport.png" /></a>
        <a href="https://www.isabellenhuette.de/en/"><img class="sponsor-view-partner"
                src="./assets/sponsors_logos/Logo_Isabellenhütte.png" /></a>
        <a href="https://headsmotorsport.com/"><img class="sponsor-view-partner"
                src="./assets/sponsors_logos/Logo_headsmotorsport.png" /></a>
        <a href="https://norelem.es/pt/"><img class="sponsor-view-partner"
                src="./assets/sponsors_logos/Logo_Norelem.png" /></a>
    </div>

    <div class="subtitle medium-header align-h">Software</div>
    <div class="redline-wrapper align-hv">
        <div class="softwareline"></div>
    </div>
    <div class="image-container align-hv">
        <a href="https://www.mathworks.com/"><img class="sponsor-view-software"
                src="./assets/sponsors_logos/Logo_MathWorks.png" /></a>
        <a href="https://www.altium.com/"><img class="sponsor-view-software"
                src="./assets/sponsors_logos/Logo_Altium.png" /></a>
    </div>

    <div class="subtitle medium-header align-h">Parceiros Institucionais</div>
    <div class="redline-wrapper align-h">
        <div class="instline"></div>
    </div>
    <div class="image-container align-hv">
        <a href="https://www.dee.isep.ipp.pt/"><img class="sponsor-view-inst"
                src="./assets/sponsors_logos/Logo_DEE.png" /></a>
        <a href="https://www.dem.isep.ipp.pt/"><img class="sponsor-view-inst"
                src="./assets/sponsors_logos/Logo_DEM.png" /></a>
    </div>


</div>