/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

/* Align utility classes */

.align-h{
    display: flex;
    justify-content: center;
}

.align-v{
    display: flex;
    align-items: center;
}

.align-hv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-sa{
    display: flex;
    justify-content: space-around;
}

/* Font-faces */

@font-face {
    font-family: "Chuterolk";
    src: local("Chuterolk"), url(./assets/fonts/CHUTEROLK.ttf) format("truetype");
}

@font-face {
    font-family: "Chuterolk-Rounded";
    src: local("Chuterolk-Rounded"), url(./assets/fonts/CHUTEROLK-Rounded.ttf) format("truetype");
}