/* You can add global styles to this file, and also import other style files */
* {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* Variables */

:root {
    --isep-red: #881a00;
    --white-gray: #F0F0F0;
    --shadow-gray: #888888;
}

/* Align utility classes */

.align-h {
    display: flex;
    justify-content: center;
}

.align-v {
    display: flex;
    align-items: center;
}

.align-hv {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Default font styles */

.paragraph {
    font-family: "Chuterolk";
    font-size: 10px;
}

.small-text {
    font-family: "Chuterolk";
    font-size: 15px;
}

.medium-text {
    font-family: "Chuterolk";
    font-size: 20px;
}

.small-header {
    font-family: "Chuterolk";
    font-size: 30px;
}

.medium-header {
    font-family: "Chuterolk";
    font-size: 40px;
}

.big-header {
    font-family: "Chuterolk";
    font-size: 50px;
}

/* Font-faces */

@font-face {
    font-family: "Chuterolk";
    src: local("Chuterolk"), url(./assets/fonts/CHUTEROLK.ttf) format("truetype");
}

@font-face {
    font-family: "Chuterolk-Rounded";
    src: local("Chuterolk-Rounded"), url(./assets/fonts/CHUTEROLK-Rounded.ttf) format("truetype");
}