<div class="box align-v">
    <div class="half align-hv">
        <div class="textbox">
            {{ textContent }}
        </div>
        <a href="/car" class="button medium-text">Mais Sobre o Carro</a>
    </div>
    <div class="half align-hv">
        <div class="container">
            <div class="wrapper-slider">
                <img src="./assets/car_images/front.png">
                <img src="./assets/car_images/side.png">
                <img src="./assets/car_images/back.png">
                <img src="./assets/car_images/top.png">
            </div>
        </div>
    </div>
</div>
