<div class="big-box align-hv">
    <div class="workers big-header align-hv">A Equipa</div>
    <div class="department align-hv">
        <div class="big-header">Lideres</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Luis Pinheiro</div>
                <div class="function-name">Lider de Equipa</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Castro</div>
                <div class="function-name">Vice-lider de Equipa</div>
            </div>
        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Powertrain</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Sousa</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Mendes</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Tomás Silva</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Beatriz Teixeira</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Silva</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Francisca Guimarães</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Cerqueira</div>
                <div class="function-name">Colega</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Pedro Martins</div>
                <div class="function-name">Colega</div>
            </div>
            
        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Eletrónica</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Guilherme Castro</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Faria</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Martins</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Diogo Teixeira</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Pedro Moreira</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">André Filipe</div>
                <div class="function-name">Colegas</div>
            </div>
            
        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Chassis, Suspenção e Aerodinâmica</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Afonso Jesus</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Nuno Terra</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Vasco Amorim</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Jorge Castro</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Zé Augusto</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">António Sá</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Gonçalo Pinto</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Francisco Moreira</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João França</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">David Pinto</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Carlos</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">David Moreira</div>
                <div class="function-name">Colegas</div>
            </div>
        </div>
    </div>
    <div class="department align-hv">
        <div class="big-header">Gestão de Operações</div>
        <div class="separator align-hv"></div>
        <div class="team-line">
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">João Magalhães</div>
                <div class="function-name">Sub Chefe</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Afonso Correia</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Nuno Pinho</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Tomás Barros</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Simão Queiroga</div>
                <div class="function-name">Colegas</div>
            </div>
            <div class="team-member">
                <div class="round-image"><img src="./assets/car_images/front.png"></div>
                <div class="name">Guilherme Silveira</div>
                <div class="function-name">Colegas</div>
            </div>
        </div>
    </div>
</div>